
.middle-list{
    margin-top:30%;
}
.scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
  }
  .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
.ion-modal-full-screen {
    width: 100% !important;
    width: 100% !important;
    .modal-wrapper {
      
        width: 100% !important;
        width: 100% !important;
    } }